<h3 class="grey-text text-darken-4">Story Books</h3>
<div class="section">
    <p class="lead grey-text text-darken-3">Create public and private stories from your projects</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-2">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>