<h3 class="grey-text text-darken-4">Story Books</h3>
<div class="section" style="max-width: 360px;">
    <p class="lead grey-text text-darken-3">A simple, collaborative practice, designed to help teams write great executable specifications.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-2">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>